<mat-grid-list cols="2">
    <mat-grid-tile>
        <mat-card *ngFor="let todoItem of todolist" >
            
            <mat-card-title>{{todoItem.title}}</mat-card-title>
            <mat-card-subtitle>{{todoItem.date.toLocaleDateString()}}</mat-card-subtitle>
        
            <mat-card-content>A small, agile dog that copes very well with mountainous terrain and hiking trails, the Shiba Inu
                was originally bred for hunting.
            </mat-card-content>
                <!-- mat-card-image || mat-card-sm-image || mat-card-md-image ||   
             mat-card-lg-image || mat-card-avatar -->
            <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Shiba Inu">
            <!-- align= "end" || "start" -->
            <mat-card-actions align="end">
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="Yes">Yes</mat-button-toggle>
            <mat-button-toggle value="No">No</mat-button-toggle>
            </mat-button-toggle-group>
          </mat-card-actions>
            <mat-card-footer>Version 1.0.0</mat-card-footer>
        </mat-card>

        
    </mat-grid-tile>
</mat-grid-list>